 <div style = "background-color: grey; color: white; padding: 5px;">
   <nav>
      <a href="/shops">Shops Index</a>
      <a href="/equipments">Equipment Index</a>
   </nav>
</div>
<h1>Ski Shops Denver</h1>
<% @shops.each do |shop| %>
   <p> <%= shop.name %>
    <%="(created at: #{shop.created_at})" %>
    </p>
<% end %>

